/* Bootstrap - change variables (under this line) */

/* $dark: #120D31;
$primary: #F03A47;
$secondary: #F0F600;
$light: #E9E3E6; 


$dark: #0E1428;
$primary: #FF312E;
$secondary: #F0F600;
$light: #E9E3E6;

*/

$dark: #120D31;
$primary: #F03A47;
$secondary: #F0F600;
$light: #E9E3E6; 

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
  xxl: 1550px
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1360px,
  xxl: 1650px
);
$navbar-nav-link-padding-x: 1.7rem;
$navbar-dark-color: #fff;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 9,
  9: $spacer * 12,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
/* Bootstrap - change variables (under this line) */


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
/* Bootstrap - change functions (under this line) */



@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
/* Custom code (under this line) */

/* Global */

html {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 12rem;
    font-weight: 700;
    color: $primary;
}

h2 {
    font-size: 6rem;
    color: $light;
}

h3 {
    line-height: 3rem;
    color: $light;
}

hr {
    color: #BFC0C0;
    margin: 3rem 0;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: $light;
}

.btn {
    font-weight: 500;
    color: $dark;
    padding: 1.3rem 3rem;
    border-radius: 20rem;
}

/* Navbar */

.nav-custom {
    max-width: 1900px;
    padding: 0 4rem;
    height: 6rem;
    font-family: 'Nunito Sans', sans-serif;
}

.nav-link {
    font-weight: 300;
}

/* Hero */

.video-thumbnail {
    max-height: 500px;
    width: 100%;
    border-radius: 8px;
}

/* Projects */

#content-brick1 {
    height: 800px;
    border-radius: 8px;
    background-color: #000;
    padding: 3rem 4rem 4rem 4rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../img/project1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content-brick2 {
    height: 800px;
    border-radius: 8px;
    background-color: #000;
    padding: 3rem 4rem 4rem 4rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../img/project2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#content-brick3 {
    height: 800px;
    border-radius: 8px;
    background-color: #000;
    padding: 3rem 4rem 4rem 4rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../img/project3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* About */

.about-img {
    width: 700px;
    height: 800px;
    border-radius: 8px;
    background-image: url(../img/showreel-thumbnail.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}